html {
    font-family: sans-serif;
}

table {
    border-style: solid;
    max-width: 750px;
    max-height: 750px;
    min-width: 500px;
    min-height: 500px;
    margin: auto;
}

td {
    height: 33%;
    width: 33%;
    text-align: center;
    padding: 5px;
}

.field {
    background-color: lightgray;
    border: none;
    text-align: center;
    font-size: xx-large;
}

.flexbox {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

#game {
    margin: 0 50px;
}

#scoreboard {
    margin: 0 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.score {
    font-size: large;
}

#restart {
    background-color: lightgray;
    border: none;
    margin: 30px auto;
    padding: 15px;
    max-width: 500px;
    min-width: 250px;
    font-size: large;
    display: block;
}

#reset {
    background-color: lightgray;
    border: none;
    margin: 30px auto;
    padding: 15px;
    width: 75%;
    font-size: medium;
    display: block;
}